---
// TopBar component - Top navigation bar with login, cart, and social links
---

<div id="stm-top-bar" style="background-color:#dd3333 !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="stm-top-bar_left">
          <div class="stm-top-switcher-holder"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="clearfix">
          <div class="stm-top-bar_right">
            <div class="clearfix">
              <div class="stm-top-profile-holder">
                <div class="stm-profile-wrapp">
                  <div class="stm-profile-img icon-mg-icon-ball"></div>
                  <a class="normal_font" href="https://elevateballers.com/my-account">Log In</a>
                  <span class="vertical-divider"></span>
                  <a class="normal_font" href="https://elevateballers.com/my-account">Sign Up</a>
                </div>
              </div>
              <div class="stm-top-cart-holder">
                <span>cart</span>
              </div>
              <div class="stm-top-socials-holder">
                <ul class="top-bar-socials stm-list-duty">
                  <li>
                    <a href="https://www.facebook.com/Elevateballers" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/elevateballers/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/@elevateballers9389/featured" target="_blank">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

