.masonryGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style for items within the grid */
.masonryGridColumn > div {
  margin-bottom: 30px;
}
